@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");

:root {
    --orange: #ffa500;
    --white: #fff;
    --header_bg: #333;
    --search_bg: rgba(0, 0, 0, 0.7);
    --hide_bar: polygon(0 0, 100% 0, 100% 0, 0 0);
    --open_bar: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    --top_border: 0.1rem solid rgba(255, 255, 255, 0.2);
    --center_padding: 2rem 9%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}
*::selection {
    background: var(--orange);
    color: var(--white);
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: var(--white);
    padding: 0.8rem 3rem;
    border: 0.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 0.5rem;
}

.btn:hover {
    background: rgba(255, 165, 0, 0.2);
    color: var(--orange);
}
header,
footer {
    padding: var(--center_padding);
}

/* header start */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--header_bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header #menu_bar {
    color: var(--white);
    border: 0.1rem solid var(--white);
    border-radius: 0.5rem;
    padding: 0.5rem 1.2rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}
header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--white);
    text-transform: uppercase;
}
header .logo span {
    color: var(--orange);
}
header .navbar a {
    color: var(--white);
    font-size: 2rem;
    margin: 0 0.8rem;
}
header .navbar a:hover {
    color: var(--orange);
}
header .icons i {
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover {
    color: var(--orange);
}
header .search_bar_container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: var(--header_bg);
    border-top: var(--top_border);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: var(--hide_bar);
}
header .search_bar_container.active {
    clip-path: var(--open_bar);
}
header .search_bar_container #search_bar {
    width: 100%;
    padding: 1rem;
    transition: none;
    color: var(--header_bg);
    font-size: 1.7rem;
    border-radius: 0.5rem;
}
header .search_bar_container label {
    color: var(--white);
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
header .search_bar_container label:hover {
    color: var(--orange);
}

.login_form_container {
    position: fixed;
    top: 120%;
    left: 0%;
    min-height: 100%;
    width: 100%;
    background: var(--search_bg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_form_container.active {
    top: 0%;
}
.login_form_container form {
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: var(--white);
    width: 50rem;
}
.login_form_container form h3 {
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}
.login_form_container form .box {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--header_bg);
    margin: 0.6rem 0;
    bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
}
.login_form_container form .box:focus {
    border-color: var(--orange);
}
.login_form_container form #remember {
    margin: 2rem 0;
}
.login_form_container form label {
    font-size: 1.5rem;
}
.login_form_container form .btn {
    display: block;
    width: 100%;
}
.login_form_container form p {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: #666;
}
.login_form_container form p a {
    color: var(--orange);
}
.login_form_container form p a:hover {
    color: #333;
    text-decoration: underline;
}
.login_form_container #form_close {
    position: relative;
    top: -12.5rem;
    right: -49.5rem;
    font-size: 4rem;
    color: var(--search_bg);
    cursor: pointer;
}

/* main start  */

/* home start */
section.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}
section.home .content {
    text-align: center;
    padding: var(--center_padding);
}
section.home .content h3 {
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}
section.home .content p {
    font-size: 2.5rem;
    color: #fff;
    padding: 0.5rem 0;
}
section.home .video_container video {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: none;
}
section.home .controls{
    padding: var(--center_padding);
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 10rem;
}
section.home .controls .video_btn{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: var(--white);
    margin: 0 .5rem;
    cursor: pointer;
}
section.home .controls .video_btn.active{
    background: var(--orange);
}


/* home end  */

/* main end  */

/* media queries start */

/* 1200px screen */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

/* 991px screen */
@media (max-width: 991px) {
    header {
        padding: 2rem;
    }
}

/* 768px screen */
@media (max-width: 768px) {
    header #menu_bar {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #333;
        border-top: var(--top_border);
        padding: 1rem 2rem;
        clip-path: var(--hide_bar);
    }
    header .navbar.active {
        clip-path: var(--open_bar);
    }
    header .navbar a {
        display: block;
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: #222;
    }
}

/* 450px screen */
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
